$max_width: 1024px;
$background_img: url("/images/bg.jpg");
$font-family: sans-serif;
$text-shadow: #aca9a9 3px 3px 3px;
$color-yellow: #fdd609;
$color-yellow-linear: -webkit-linear-gradient(#fdd609, #feaa06);
$color-yellow-linear-unpress: -webkit-linear-gradient(#feaa06, #fdd609);
$color-white: #ffffff;
$color-white-linear: linear-gradient(to top, #cccccc, #f0f0f0 41%, #fbfbfa, #f0eeeb);
$color-black-linear: -webkit-linear-gradient(#303030, #000000);
$color-black: #000000;
$color-black-gray: #575757;
$color-white-gray: #a3a3a3;
$color-gray: #c9c9c9;
$color-red: #ff0000;
$border-style: 1px solid $color-yellow;
